// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  font-size: 2.5rem;
  margin: 3em 0 0;
  font-weight: $font-family-base-normal-weight;
}

h2 {
  font-size: 2rem;
  font-weight: $font-family-base-normal-weight;
}

h3,
.h-h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: $font-family-base;
}

.h-section {
  text-align: center;
}

.h-page {
    color: inherit;
    text-align: center;
}

.sub-title {
  font-size: 1.125rem;
  font-weight: $font-family-base-bold-weight;
}