.site-header {
  margin-bottom: $space-base;
  position: relative;
  z-index: 5;
}

.site-nav {
  @include micro-clearfix;
  background: rgba(45, 45, 45, .4);
  padding: 1rem 7rem 20px 7rem;
}

.bg-pattern {
  background-color: #383838;
  color: #fff;
}

.denuncia-icon {
    width: 600px;
    position: absolute;
    right: 55%;
    top: -10%;
}