$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Roboto', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

$turquoise: #21a295;

// Inside components
$space-base: 1.125rem;
$space-small: 1.125rem;
$space-medium: 2.25rem;
$space-large: 3.375rem;
$space-x-large: 4.5rem;
$space-xx-large: 5.625rem;

// Between components
$space-out-small: 1.125rem;
$space-out-medium: 2.25rem;
$space-out-large: 3.375rem;
$space-x-out-large: 4.5rem;
$space-xx-out-large: 5.625rem;
